.adminContainer {
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: white;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.btn {
  padding: 0.75rem 1.5rem;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #222;
}
